Guardrail.json
{
  "name": "Guardrail-Test",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        -48
      ],
      "id": "3a4837ca-6fe0-45ef-809d-4fe19889db62",
      "name": "When chat message received",
      "webhookId": "dbc184de-d316-4c7d-8b89-3ad087c4bce6"
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "guardrails": {
          "pii": {
            "value": {
              "type": "all"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 1,
      "position": [
        208,
        -48
      ],
      "id": "6ec4fe84-aeda-4678-99d0-eee2fca6fc45",
      "name": "Guardrails"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        144
      ],
      "id": "4632234c-21b5-4434-94e7-59495d448b0c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7DFWI2y8oPngZKVV",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Guardrails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4f083319-b048-485d-a0cc-64ba318cd7ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd53d59cc4463d140770937d64925c00285a573a94a1408f16c0cea24d5442a2"
  },
  "id": "397b9wov2ssVbE5O",
  "tags": []
}