Voice AI Assistant in n8n - Books Meetings Automatically.json
{
  "name": "voice over",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        -16
      ],
      "id": "058cbbab-8edd-4f2a-b18a-b680b3af3d8e",
      "name": "Telegram Trigger",
      "webhookId": "b8fd2d85-183a-4f80-8744-851337cfce61",
      "credentials": {
        "telegramApi": {
          "id": "qVCg9ICc7UtrRdXX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -160,
        -16
      ],
      "id": "e242b8e1-ec3b-4516-adfc-1eaf4c8c1eab",
      "name": "Get a file",
      "webhookId": "cd45d259-bc13-439c-85b5-f4c7a4a4b0c8",
      "credentials": {
        "telegramApi": {
          "id": "qVCg9ICc7UtrRdXX",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        64,
        -16
      ],
      "id": "525dd857-0efe-49dd-b146-265a0c86a7b0",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "7DFWI2y8oPngZKVV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an Appointment Scheduling Agent.\nYour purpose is to understand natural language instructions from the user and book calendar appointments automatically.\nWhen a user asks to schedule a meeting/appointment (example:\n“Book a call with Michael tomorrow at 3 PM about the contract review”),\n\nYou must:\nIdentify the person’s name, date, time, and purpose.\nFetch the person’s email from Supabase database using their name.\nCreate the event in Google Calendar and invite that person and book an appointment for 1 hour from the date and time specified, use purpose as title.\nSend a confirmation email to the person using Gmail.\nRespond back with a clear success message.\n\n## Tools You Have Access To\n\nSupabase Database → Find email using the name.\nGoogle Calendar → Create calendar events.\nGmail → Send confirmation emails.\n\n## Workflow / What You Must Do\n\nWhenever a user message includes scheduling intent:\nExtract:\nPerson’s Name\nDate & Time\nmeeting title or purpose\n\nSupabase Lookup\nSearch Supabase table for the person’s email using their name.\nIf no email found → ask the user only for missing details.\n\nCreate Google Calendar Event\nTitle: meeting title or purpose and person's name\nAttendee: email retrieved from Supabase\nDescription: Use details from user request\nSend Gmail Confirmation\n\nTo the person receiving the invite\nInclude:\nMeeting date & time\nShort description/topic/title or purpose\n\nFinal Output\nAlways respond with:\n Appointment booked and email sent.\n\n##  Rules\n\nDo not reveal internal steps or tool outputs to the user.\nDo not assume email IDs — always confirm via Supabase lookup.\nIf key details (date/time/person name) are missing → ask user.\nYour final message to the user should NOT include tool details.\n\n##  Examples\n\nUser Input:\n\"Schedule a meeting with Michael tomorrow at 3 PM to discuss IoT demo.\"\nAgent internal actions (not shown to user):\nLookup \"Michael\" in Supabase → find email\nCreate Google Calendar event → invite Michael\nSend confirmation email via Gmail\nAgent Response (to user):\n\nAppointment booked and email sent.\n\nUser Input:\n\"Book a demo call with Sarah.\"\n\nAgent Response:\nI need date and time to schedule the appointment.\nWhen should I book the meeting with Sarah?\nUser Input:\n\"Book a follow-up meeting with John on Friday.\"\nAgent Response:\nWhat time on Friday should I schedule the meeting with John?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        -16
      ],
      "id": "9d52eef8-6839-4d3b-ab4c-4e62191d1bd1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "f2154cfb-42e1-4a3e-85a4-1bf5f3f85f2b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7DFWI2y8oPngZKVV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "architechsoln@gmail.com",
          "mode": "list",
          "cachedResultName": "architechsoln@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "aeadeef3-fb1a-44a2-b449-eac79ffc7945",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "IMVAb7RMQMj80HXA",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        544,
        208
      ],
      "id": "adac263d-2f05-41d2-9b15-b47b2a12386b",
      "name": "Send a message in Gmail",
      "webhookId": "292483d9-3cab-4db8-9aee-dffd2f486901",
      "credentials": {
        "gmailOAuth2": {
          "id": "KpB2mHfZEHHGnhxn",
          "name": "Gmail account 4"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "NameEmail",
        "filters": {
          "conditions": [
            {
              "keyName": "Name",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions0_Value', ``, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        672,
        208
      ],
      "id": "3ca8d369-bf36-4a3f-bf20-f92a3e14353f",
      "name": "Get a row in Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "AZix5JIDN1GxzCX2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('Transcribe a recording').item.json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        -16
      ],
      "id": "00be4c3f-59cd-4005-8e31-cfb6206b3d47",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "7DFWI2y8oPngZKVV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1104,
        -16
      ],
      "id": "9f9b66fb-a39e-4110-a520-5c7390dd75ff",
      "name": "Send an audio file",
      "webhookId": "d24a38d0-7a79-4019-9276-25a48a9d6631",
      "credentials": {
        "telegramApi": {
          "id": "qVCg9ICc7UtrRdXX",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a row in Supabase": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8571dc07-4039-4c68-b060-a6e34ebe5a4c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bd53d59cc4463d140770937d64925c00285a573a94a1408f16c0cea24d5442a2"
  },
  "id": "iD0k9yNejnMFdEUs",
  "tags": []
}